input{
  border: none;
  color: white;
}
.main{
  background: black;
  width: 315px;
  padding: 10px;
  border-radius: 10px;
}
.ans{
  margin-right:30px;
}
.ans #ans2{
  width: 100%;
  background: black;
  padding-top:80px;
  padding-bottom:10px;
  border: none;
  color: white;
  font-size: 40px;
  text-align: end;
  outline: 0px;
}
.first{
  display: flex;
}
.first input{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 4px;
  font-size: 20px;
  background: #414141;
}